.img-thumbnail {
  height: 315px;
  margin-bottom: 10px;
}

.button-div {
  text-align: center;
}

#image-table {
  margin-top: 20px;
}

td {
  padding-top: 15px;
}

.panel-default:hover {
  border-color: #666;
}

#profile-table > tbody > tr > td {
  padding: 10px;
}

#profile-table {
    margin-top: 20px;
}

.field-col {
  font-weight: bold;
  text-align: right;
}

.alert {
  width: 70%;
  margin: auto;
  margin-bottom: 5px;
  margin-top: 5px;
  display: none;
}
.container {
    margin-top: 20px;
}

#submit-button-div {
  text-align: center;
}
