
body {
    margin: 50px 100px;
}

.panel-title {
    font-weight: bold;
}

.help {
    float: right;
}

.buffer-cell {
    /* (CELL_DIM - 1). (-1) for aesthetic. */
    height: 24px;
}

.stat {
    padding: 5px;
}

.alert {
    margin-bottom: 0px;
}
